{{!-- Reusable modal --}}
{{!-- Full width backdrop --}}
<div class="modal-backdrop" {{on "click" this.closeModal}}></div>
{{!-- Modal General Markup --}}
<div class={{@modalClass}}>
    <div class="modal-header">
        <h2>{{@modalHeading}}</h2>
        <div class="modal-sub-header">
            <h6>{{@modelSubHeading}}</h6>
        </div>
        {{!-- Make button as 'X' --}}
        <button class="small-close-button" type="button" {{on "click" this.closeModal}}>&times;</button>
    </div>
    {{!-- Add a data-test attribute --}}
    <div data-test-modal-content>
        {{!-- Insert content from parent here --}}
        {{yield}}
    </div>
</div>