<div class="user-selector">
  <form {{on "submit" this.handleSubmit}}>
    <label for="assign-user">Select a user:</label>
    <select id="assign-user" name="assign-user" value={{this.selectedUserId}} {{on "change" this.handleChange}}>
      {{#each @users as |user|}}
      {{!-- Always make sure the currently selected user is the current user - added the eq helper for this found in docs --}}
        <option value={{user.id}} selected={{eq user.id this.selectedUserId}}>
          {{user.name}}
        </option>
      {{/each}}
    </select>
    <button type="submit">Assign user</button>
  </form>
</div>
