<Modal @onClose={{this.closeModal}} @modalHeading={{this.modalHeading}} @onDelete={{this.deleteTask}}
    @modalClass="modal modal-edit">
    {{!-- Form --}}
    <form class="modal-form-tasks-details" {{on "submit" this.editTask}}>
        {{!-- Left side of Modal --}}
        <div class="modal-left">
            <div class="form-group">
                <label for="TaskName">Task Name:</label>
                <input id="taskName" name="taskName" type="text" value={{this.model.title}} required
                    class="form-input" />
            </div>

            <div class="form-group">
                <label for="taskDescription">Task Description:</label>
                <textarea id="taskDescription" name="taskDescription" required
                    class="form-input form-text-area">{{this.model.description}}</textarea>
            </div>
        </div>
        {{!-- Right side of Modal --}}
        <div class="modal-right">
            <div class="assign-user-container">
                <UserSelector @users={{this.users}} @task={{this.model}} @onUserAssign={{this.assignUser}} />
            </div>
            <div class="form-group">
                <label for="taskDueDate">Due Date:</label>
                <input id="taskDueDate" name="taskDueDate" type="date" class="form-input" value={{this.dueDate}} />
            </div>

            <div>
                <div class="form-group">
                    {{log this.selectedPriority}}
                    <TaskOptions @label="Priority:" @options={{this.priorityOptions}}
                        @selected={{this.selectedPriority}} @onSelect={{this.updatePriority}} />
                </div>
            </div>
            <div>
                <div class="form-group">
                    {{log this.selectedStatus}}
                    <TaskOptions @label="Status:" @options={{this.statusOptions}} @selected={{this.selectedStatus}}
                        @onSelect={{this.updateStatus}} />
                </div>
            </div>
            <div class="form-actions">
                <button type="button" class="default-button orange-button" {{on "click"
                    this.closeModal}}>Cancel</button>
                <button class="default-button red-button" type="button" {{on "click" this.deleteTask}}>Delete</button>
                <button type="submit" class="default-button green-button">Save</button>
            </div>
        </div>
    </form>
</Modal>