{{page-title "Tasks"}}

<div class="container">
  <h1>Tasks</h1>
</div>

<div class="container task-actions">
  <LinkTo @route="tasks.create-task" class="default-button green-button">Create Task</LinkTo>
  <div class="task-filter">
    <label for="task-filter">Filter Tasks:</label>
    <select id="task-filter" {{on "change" this.filterTasks}}>
      <option value="all">All</option>
      <option value="unassigned">Unassigned</option>
      <option value="assigned">Assigned</option>
      <option value="done">Done</option>
    </select>
  </div>
</div>


<hr class="section-separator">

{{!-- Filtered Tasks Section --}}
<div class="container">
  <h2>{{this.filterTitle}} Tasks ({{this.filteredTasks.length}})</h2>
  {{#each this.filteredTasks as |task|}}
  <LinkTo @route="tasks.edit-task" @model={{task}} class="task-link">
    <div class="task-box">
      <div class="task-info">
        <h2>{{task.title}}</h2>
        <p class="description">Description: {{task.description}}</p>
        <p class="owner"><strong>Owner: {{if task.user task.user.firstName 'Unassigned'}}</strong></p>
        <p class="priority">Priority: {{task.priority}}</p>
        <p class="status">Status: {{task.status}}</p>
        {{!-- Display Due Date only if it exists, otherwise show N/A --}}
        <p class="dueDate">
          Due Date:
          {{#if task.dueDate}}
          {{format-date task.dueDate "ddd MMM DD YYYY"}}
          {{else}}
          N/A
          {{/if}}
        </p>

        <p class="created">Creation Date: {{format-date task.createdAt "YYYY-MM-DD HH:mm:ss"}}</p>
      </div>
    </div>
  </LinkTo>
  {{/each}}
</div>

{{outlet}}