{{page-title "Users"}}

<div class="container">
  <h1>Users</h1>
</div>
{{!-- User Container --}}
<div class="container">
  {{#each @model as |user|}}
    <div class="user-box">
      <div class="user-info">
        <h2>{{user.name}} - {{user.id}}</h2>
        <p class="description">{{user.description}}</p>
      </div>
      <div class="user-tasks">
        <p class="task-count">Number of tasks: {{user.tasks.length}}</p>
        <ul class="task-list">
          {{#each user.tasks as |task|}}
            <li>{{task.title}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/each}}
</div>

{{!-- Create-User Button --}}
<div class="container">
<LinkTo @route="users.create-user" class="create-user-button">Create User</LinkTo>
</div>

{{outlet}}




