{{page-title "Users"}}

<div class="container">
  <h1>Users</h1>
</div>
{{!-- User Container --}}
<div class="container">
  {{#each @model as |user|}}
    <div class="user-box">
      <div class="user-info">
        <h2>{{user.name}}</h2>
        <p class="description">{{user.description}}</p>
      </div>
      <div class="user-tasks">
        <p class="task-count">Number of tasks: {{user.tasks.length}}</p>
        <ul class="task-list">
          {{#each user.tasks as |task|}}
            <li>{{task.title}}</li>
          {{/each}}
        </ul>
      </div>
    </div>
  {{/each}}
</div>

{{!-- Create-User Button --}}
<div class="container">
  <button class="create-user-button" type="button" {{on "click" this.toggleModal}}>Create User</button>
</div>

{{!-- Use reusable Modal for creating a new User --}}
{{#if this.isModalOpen}}
  <Modal @onClose={{this.toggleModal}} @modalHeading="Create a New User">
    {{!-- Form --}}
    <form {{on "submit" this.createUser}} class="user-form">
      <div class="form-group">
        <label for="userName">User Name:</label>
        <input id="userName" name="userName" type="text" required class="form-input">
      </div>

      <div class="form-group">
        <label for="userDescription">Description:</label>
        <input id="userDescription" name="userDescription" type="text" required class="form-input">
      </div>

      <div class="form-actions">
        <button type="submit" class="submit-button">Create</button>
      </div>
    </form>
  </Modal>
{{/if}}


